
@{
    ViewBag.Title = "MY APPLICATION";
    Layout = "~/Areas/Shared/_PcnLayoutShare.cshtml";

    var newGuid = Guid.NewGuid();
}

@section styles{
    <!-- plugin -->
    @Styles.Render("~/bundles/datatablesCss")
    <link href="~/Contents/template/HUD_Admin/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
    <!-- custom -->
    <link href="~/Contents/Custom/PCN/css/MyApplication.css?v=@newGuid" rel="stylesheet" />
}

<!-- Breadcrumb -->
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard">HOME</a></li>
        <li class="breadcrumb-item">MY APPLICATION</li>
        <li class="breadcrumb-item active">MY APPLICATION</li>
    </ul>
</section>

<!-- Datatable -->
<section>
    <div class="card">
        <div class="card-body">
            <table id="datatable" class="table table-striped text-nowrap align-middle w-100">
                <thead>
                    <tr class="bg-secondary bg-opacity-50">
                        <th class="">ID</th>
                        <th></th>
                        <th>ID CODE</th>
                        <th>DATE</th>
                        <th>APPLICANT</th>
                        <th>SUBJECT</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
        </div>
    </div>

</section>

<!-- Modal -->
<section>
    <!-- PCN Detail -->
    @Html.Partial("~/Areas/PCN/Views/Management/_ApplicationDetail.cshtml")
    <!-- PCN Update -->
    @Html.Partial("~/Areas/PCN/Views/Management/_ApplicationUpdate.cshtml")
</section>

@section scripts{
    <!-- plugin -->
    @Scripts.Render("~/bundles/datatablesJs")
    <script src="~/Contents/template/HUD_Admin/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
    <!-- custom -->
    <script src="~/Contents/Custom/PCN/js/Application_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/User/User_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/Customer/Customer_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/Department/Department_Promise.js?v=@newGuid"></script>

    <script src="~/Contents/Custom/PCN/js/MyApplication.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/PCN/js/ApplicationModal/_ApplicationDetail.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/PCN/js/ApplicationModal/_ApplicationUpdate.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/PCN/js/ApplicationModal/_ApplicationDelete.js?v=@newGuid"></script>
}