
@{
    ViewBag.Title = "DASHBOARD";
    Layout = "~/Areas/Shared/_PcnLayoutShare.cshtml";
}

@section styles{
    <!-- plugin -->
    <link href="~/Contents/plugin/ApexChart/apexcharts.css" rel="stylesheet" />

    <!-- custom -->
    <link href="~/Contents/Custom/Dashboard/css/dashboard.css" rel="stylesheet" />
    <link href="~/Contents/Custom/PCN/css/_ApplicationDetail.css" rel="stylesheet" />

}

<!-- Header -->
<section>
    <div class="row">
        <div class="col-xl-3 col-lg-6">

            <div class="card mb-3">

                <div class="card-body">

                    <div class="fw-bold small mb-3">
                        <span class="flex-grow-1 text-info">TOTAL PCN APPLICATION</span>
                    </div>


                    <div class="row align-items-center mb-2">
                        <div class="col-4">
                            <h3 class="mb-0" id="total-num"></h3>
                        </div>
                        <div class="col-8">
                            <div class="mt-n2" title="Chart shows data for last 7 days." id="total-chart"></div>
                        </div>
                    </div>
                </div>


                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>


        <div class="col-xl-3 col-lg-6">

            <div class="card mb-3">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1 text-warning">APPLICATION PENDING</span>
                    </div>

                    <div class="row align-items-center mb-2">
                        <div class="col-4">
                            <h3 class="mb-0" id="pending-num"></h3>
                        </div>
                        <div class="col-8">
                            <div class="mt-n2" title="Chart shows data for last 7 days." id="pending-chart"></div>
                        </div>
                    </div>

                </div>

                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>


        <div class="col-xl-3 col-lg-6">

            <div class="card mb-3">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1 text-success">APPLICATION APPROVED</span>
                    </div>

                    <div class="row align-items-center mb-2">
                        <div class="col-4">
                            <h3 class="mb-0" id="approved-num"></h3>
                        </div>
                        <div class="col-8">
                            <div class="mt-n3 mb-n2" title="Chart shows data for last 7 days." id="approved-chart"></div>
                        </div>
                    </div>

                </div>

                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>


        <div class="col-xl-3 col-lg-6">

            <div class="card mb-3">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1 text-danger">APPLICATION REJECTED</span>
                    </div>


                    <div class="row align-items-center mb-2">
                        <div class="col-4">
                            <h3 class="mb-0" id="rejected-num"></h3>
                        </div>
                        <div class="col-8">
                            <div class="mt-n3 mb-n2" title="Chart shows data for last 7 days." id="rejected-chart"></div>
                        </div>
                    </div>

                </div>

                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Midder -->
<section>
    <div class="row">
        <div class="col-xl-6">

            <div class="card mb-3" style="height: calc(100% - 1rem);">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1">PCN APPLICATION STATISTICS</span>
                    </div>

                    <div class="ratio ratio-21x9">
                        <div id="application-chart"></div>
                    </div>


                    <div class="row">

                        <div class="col-lg-4">
                            <div class="d-flex align-items-center">

                                <div class="ps-3 flex-1" id="application-num-pending">
                                    <div class="fs-10px fw-bold text-warning mb-1">PENDING</div>
                                    <div class="mb-2 fs-5 text-truncate" per>61 / 169</div>
                                    <div class="progress h-3px bg-transparent-2 mb-1">
                                        <div class="progress-bar bg-warning" rate></div>
                                    </div>

                                    <div customer>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="d-flex align-items-center">

                                <div class="ps-3 flex-1" id="application-num-approved">
                                    <div class="fs-10px fw-bold text-success mb-1">APPROVED</div>
                                    <div class="mb-2 fs-5 text-truncate" per></div>
                                    <div class="progress h-3px bg-transparent-2 mb-1">
                                        <div class="progress-bar bg-success" rate></div>
                                    </div>

                                    <div customer>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="d-flex align-items-center">

                                <div class="ps-3 flex-1" id="application-num-rejected">
                                    <div class="fs-10px fw-bold text-danger mb-1">REJECTED</div>
                                    <div class="mb-2 fs-5 text-truncate" per></div>
                                    <div class="progress h-3px bg-transparent-2 mb-1">
                                        <div class="progress-bar bg-danger" rate></div>
                                    </div>

                                    <div customer>

                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>

                </div>


                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>
        <div class="col-xl-6">

            <div class="card mb-3" style="height: calc(100% - 1rem);">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1">DEPARTMENT ANALYTICS</span>
                    </div>


                    <div class="ratio ratio-21x9">
                        <div id="department-chart"></div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <table class="w-100 small mb-0 text-truncate text-white text-opacity-60">
                                <thead>
                                    <tr class="text-theme">
                                        <th class="w-50">DEPARTMENT</th>
                                        <th class="w-25 text-end">COUNT</th>
                                        <th class="w-25 text-end">RATE%</th>
                                    </tr>
                                </thead>
                                <tbody id="department-tbody"></tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <div id="department-details-chart"></div>
                        </div>
                    </div>
                </div>


                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Footer -->
<section>
    <div class="row">
        <div class="col-xl-6">

            <div class="card mb-3">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1">TOP APPLICATION</span>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped table-borderless mb-2px small text-nowrap">
                            <thead class="bg-secondary bg-opacity-50">
                                <tr>
                                    <th></th>
                                    <th>ID CODE</th>
                                    <th>DATE</th>
                                    <th>SUBJECT</th>
                                    <th>STATUS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="top10-pcn-tbody">
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>


        <div class="col-xl-6">

            <div class="card mb-3">

                <div class="card-body">

                    <div class="d-flex fw-bold small mb-3">
                        <span class="flex-grow-1">ACTIVITY LOG</span>
                    </div>


                    <div class="table-responsive">
                        <table class="table table-striped table-borderless mb-2px small text-nowrap">
                            <thead class="bg-secondary bg-opacity-50">
                                <tr>
                                    <th></th>
                                    <th>DATE</th>
                                    <th>USER</th>
                                    <th>ID CODE</th>
                                    <th>ACTION</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody id="top10-action-tbody">
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="card-arrow">
                    <div class="card-arrow-top-left"></div>
                    <div class="card-arrow-top-right"></div>
                    <div class="card-arrow-bottom-left"></div>
                    <div class="card-arrow-bottom-right"></div>
                </div>

            </div>

        </div>

    </div>
</section>

<!-- Modal -->
<section>
    <!-- Application Detail -->
    @Html.Partial("~/Areas/PCN/Views/Management/_ApplicationDetail.cshtml")

</section>

@section scripts{
    <!-- plugin -->
    <script src="~/Contents/plugin/ApexChart/apexcharts.min.js"></script>
    <script src="~/Contents/plugin/MomentJs/moment.min.js"></script>

    <!-- custom -->
    <script src="~/Contents/Custom/Dashboard/js/dashboard.js"></script>

    <script src="~/Contents/Custom/PCN/js/Application_Promise.js"></script>
    <script src="~/Contents/Custom/PCN/js/_ApplicationDetail.js"></script>
}
