<section class="col-6">
    <div class="card">
        <div class="card-body">
            <table id="user-datatable" class="table table-striped text-nowrap align-middle w-100">
                <thead>
                    <tr class="bg-secondary bg-opacity-50">
                        <th>ID</th>
                        <th>USERNAME</th>
                        <th>VN NAME</th>
                        <th>CN NAME</th>
                        <th>EMAIL</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
        </div>
    </div>
</section>