<!-- ADMIN PCN -->
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout_ADMIN.cshtml";
}

<style>
    .stickyTable {
        height: calc(100vh - 330px);
        overflow: auto;
    }

        .stickyTable thead {
            position: sticky;
            top: 0;
            background: #ffffff;
        }
</style>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>PCN Manager</h1>
        </div>
        <div class="card-body">
            <div class="row m-2">
                <div class="col-xl-1 col-md-2">
                    <button id="btn-add-dept" class="btn btn-primary" data-bs-focus="false" data-bs-toggle="modal" data-bs-target="#modalDepartment">Thêm</button>
                </div>
                <div class="col-xl-4 col-md-4">
                    <input type="text" id="searchPCN" placeholder="search" class="form-control">
                </div>
            </div>
            <div class="stickyTable">
                <table class="table table-bordered table-borderless table-responsive table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Mã đơn (MSC Code)</th>
                            <th scope="col">Người tạo (Created By)</th>
                            <th scope="col">Ngày tạo (Created Date)</th>
                            <th scope="col">Người chịu trách nhiệm (Responsible by)</th>
                            <th scope="col">Trạng thái (Status)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tblDataMSC">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            @System.Configuration.ConfigurationManager.AppSettings["SystemName"]
        </div>
    </div>


</div>

<!-- Modal detail click-->
<div class="modal fade" data-bs-backdrop="false" data-bs-focus="false" id="detail-msc-modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin đơn MSC</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
                <form id="formMSC">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <label class="fw-bold">制作人 Người đề nghị:</label> <span class="text-success recommendedByName">N/A</span><br />
                            <label class="fw-bold">制作部門 Bộ phận: </label> <span class="text-success userDepartment"></span>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5"></div>
                        <div class="col-xl-2 col-lg-3 col-md-3">
                            <label class="fw-bold">日期 Ngày: </label><span class="text-success recommendedDate"></span><br />
                            <label class="fw-bold">審核 Phê duyệt: </label> <span class="statusMSC"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>標准方法變更通知書(MSC)</h2>
                            <h4>Thông báo thay đổi phương pháp làm việc tiêu chuẩn (MSC)</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <label class="fw-bold">主題 Chủ đề:</label> <span class="subjectDetail"></span><br />
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5"></div>
                        <div class="col-xl-2 col-lg-3 col-md-3">
                            <label class="fw-bold">MSC單號 Mã số: </label> <span class="mscCodeDetail"></span><br />
                            <!-- Biuld động -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 border">
                            <label class="fw-bold">Process: </label><br /><span class="processDetail"></span><br />
                            @*<p class="text-danger">Update mã dụng cụ</p>*@
                        </div>
                        <div class="col-6 border">
                            <label class="fw-bold">Model: </label><br /><span class="modelDetail"></span>
                            @*<p class="text-danger">Tất cả các SKU hàng GoV2/All VML2030 SKU</p>*@
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 border">
                            <label class="fw-bold">現行作業方式 Phương thức làm việc hiện hành:</label><br />
                            <div class="htmlDecodeBeforeChange">

                            </div>
                            <br />
                        </div>
                        <div class="col-6 border">
                            <label class="fw-bold">變更后的方式 Phương thức sau khi thay đổi:</label><br />
                            <div class="htmlDecodeAfterChange">

                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 border">
                            <label class="fw-bold">Files: (before change)</label><br />
                            <div class="loadFileBefore">
                                <!-- js binding -->
                            </div>
                        </div>
                        <div class="col-6 border">
                            <label class="fw-bold">Files: (after change)</label><br />
                            <div class="loadFileAfter">
                                <!-- js binding -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 border">
                            <label class="fw-bold">變更原因 Nguyên nhân thay đổi</label><br />
                            <div class="htmlDecodeReason">
                                <!-- jqte-->
                            </div><br />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 border">
                            <label class="fw-bold">制造成本計算 Tính toán giá thành sản xuất:(by IE)</label><br />
                            <div class="htmlDecodeCalculateCost">
                                <!-- jqte -->
                            </div><br /><br />
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-12">
                            <label class="fw-bold">會簽 Các bộ phận phê duyệt: </label><br>
                        </div>
                        <div class="allDepartmentDetail row">
                            <!-- js binding -->
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-12">
                            <label class="fw-bold">Reason of Reject: </label><br>
                        </div>
                        <div class="reasonReject">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <label class="fw-bold"> 核准 Phê chuẩn: </label>
                            <span class="text-success okStatusMSC"></span>
                        </div>
                        <div class="col-xl-6 col-lg-5 col-md-5"></div>
                        <div class="col-xl-2 col-lg-3 col-md-3">
                            <label class="fw-bold"> 生效日期 Ngày có hiệu lực: </label>
                            <span class="text-success okEffectiveDate"></span>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12 border">
                        <p>
                            注﹕以下變更需會簽CFT的ME/TE/QE/IE<br />
                            &nbsp;&nbsp;&nbsp; 1.增加﹑刪除操作﹑治工具    2.治工具及編號變更    3.文件編號變更    4.機台參數變更<br />
                            &nbsp;&nbsp;&nbsp; 5.治工具儲位變更        6.組測步驟﹑程式畫面﹑程式版本變更<br />
                            Chú thích: Các thay đổi sau đây cần kí duyệt bởi ME/TE/QE/IE trong CFT<br />
                            &nbsp;&nbsp;&nbsp;1.Thêm, bớt thao tác, dụng cụ&nbsp;&nbsp;&nbsp;2.Mã quản lí dụng cụ thay đổi&nbsp;&nbsp;&nbsp;3.Mã số văn kiện thay đổi&nbsp;&nbsp;&nbsp;4.Tham số thiết bị thay đổi<br />
                            &nbsp;&nbsp;&nbsp;5.Vị trí lưu giữ dụng cụ thay đổi&nbsp;&nbsp;&nbsp;6.Trình tự thao tác Assy, Test thay đổi,  phiên bản chương trình thay đổi<br />

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <label class="fw-bold"> 保存期限: </label>二年<br />
                        <label class="fw-bold"> Thời hạn bảo lưu: </label>2 năm<br />
                    </div>
                    <div class="col-xl-6 col-lg-5 col-md-5"></div>
                    <div class="col-xl-2 col-lg-3 col-md-3">
                        <label class="fw-bold"> 表單編號(Mã bảng biểu): </label>FM3NVA002001A<br />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @*<button type="button" id="btn-reject-MSC" class="btn btn-danger"><i class="ri-close-fill"></i> Rejected</button>*@
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Assets/MSC/js/Area/ADMIN/PCN.js?v=@Guid.NewGuid()"></script>

}

