
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout_ADMIN.cshtml";
}

<style>
    .stickyTable {
        height: calc(100vh - 330px);
        overflow: auto;
    }

        .stickyTable thead {
            position: sticky;
            top: 0;
            background: #ffffff;
        }
</style>
<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>Employee Manager</h1>
        </div>
        <div class="card-body">
            <h5>
                <button class="btn btn-primary" id="btn-add-employee" data-bs-toggle="modal" data-bs-target="#modalEmployee">Thêm</button>
            </h5>
            <div class="stickyTable">
                <table class="table table-bordered table-responsive table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>CN Name</th>
                            <th>VN Name</th>
                            <th>HireDate</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Department</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tblEmployee">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            @System.Configuration.ConfigurationManager.AppSettings["SystemName"]
        </div>
    </div>


</div>

<!-- Modal Employee -->
<div class="modal fade" data-bs-backdrop="false" id="modalEmployee" data-bs-focus="false" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Form Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
                <form>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Employee Code</label>
                        <div class="col-sm-9">
                            <input type="text" id="employeeCode" class="form-control">
                            <button type="button" class="btn btn-secondary" id="btn-check-employeeCode">Check</button>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Information</label>
                        <div class="col-sm-9">
                            <b>Dept. name:</b> <span class="text-success fw-bold apiDeptName"></span><br />
                            <b>Gender:</b> <span class="text-success fw-bold apiGender"></span><br />
                            <b>HireDate:</b> <span class="text-success fw-bold apiHireDate"></span><br />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">VN Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="employeeVNName" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input type="text" id="username" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                            <input type="text" id="password" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" id="email" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Desk Phone</label>
                        <div class="col-sm-9">
                            <input type="text" id="deskphone" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Select Position</label>
                        <div class="col-sm-9">
                            <select id="selectPosition" class="form-select">
                                <option value="0">Admin</option>
                                <option value="1">Giám đốc xưởng (Director)</option>
                                <option value="2">Phó GĐ (Vice Director)</option>
                                <option value="3">Trưởng phòng (Leader)</option>
                                <option value="4">Nhân viên (Employee)</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnSaveEmployee" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal appoint employee -->
<div class="modal fade" data-bs-backdrop="false" id="modalAppoint" data-bs-focus="false" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Appoint Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body overflow-auto">
                <form>
                    <div class="row mb-3">
                        <label for="inputText" class="col-sm-3 col-form-label">Code: <span class="appoint-code"></span></label>
                        <label for="inputText" class="col-sm-3 col-form-label">CN Name: <span class="appoint-CNName"></span></label>
                        <label for="inputText" class="col-sm-3 col-form-label">VN Name: <span class="appoint-VNName"></span></label>
                    </div>
                    <div class="row mb-3 displayDepartmentAppoint">
                        <label class="col-sm-3 col-form-label">Select Department</label>
                        <div class="col-sm-9">
                            <select id="selectDepartmentAppoint" class="form-select">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnSaveAppointEmployee" class="btn btn-primary">Appoint</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Assets/MSC/js/Area/ADMIN/Employee.js?v=@Guid.NewGuid()"></script>


}