<!-- ADMIN Home -->
@using IE_MSC.Commons
@{
    Layout = null;
    var userLogin = (AccountLogin)Session["USER_SESSION"];
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ADMIN/Views/Shared/_Layout_ADMIN.cshtml";
}

<style>
    tr {
        vertical-align: baseline;
    }
</style>

<div class="row">
    <div class="card">
        <div class="card-header">
            <h1>WELCOME TO ADMIN PAGE</h1>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-body">
                    <a href="/Admin/Customer/" type="button" class="btn btn-outline-primary">Customer</a>
                    <a href="/Admin/Department/" type="button" class="btn btn-outline-primary">Department</a>
                    <a href="/Admin/Employee/" type="button" class="btn btn-outline-primary">Employee</a>
                    <a href="/Admin/PCN/" type="button" class="btn btn-outline-primary">Total PCN</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <div class="text-item">PCN Application By Status|<span class="filter-rework-selected">Today</span></div>
                            <div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item li-select-filter" data-selected="today" href="#">Today</a></li>
                                    <li><a class="dropdown-item li-select-filter" data-selected="last7day" href="#">Last 7 days</a></li>
                                    <li><a class="dropdown-item li-select-filter" data-selected="month" href="#">This Month</a></li>
                                    <li><a class="dropdown-item li-select-filter" data-selected="year" href="#">This Year</a></li>
                                </ul>
                            </div>
                        </div>
                        <div id="pcnByStatus"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Overview Account: <span class="totalAccount"></span></h5>
                        <div id="overviewAccount"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            @System.Configuration.ConfigurationManager.AppSettings["SystemName"]
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Assets/MSC/library/hightchart/highcharts.js"></script>
    <script src="~/Assets/MSC/library/hightchart/exporting.js"></script>
    <script src="~/Assets/MSC/library/hightchart/export-data.js"></script>
    <script src="~/Assets/MSC/library/hightchart/accessibility.js"></script>
    <script src="~/Assets/MSC/js/Area/ADMIN/Home.js?v=@Guid.NewGuid()"></script>

}

