@{
    ViewBag.Title = "APPLICATION INFORMATION";
    Layout = "~/Areas/Shared/_PcnLayoutShare.cshtml";

    var newGuid = Guid.NewGuid();
}

@section styles{
    <!-- plugin -->
    <link href="~/Contents/template/HUD_Admin/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />
    <!-- custom -->
}


<input type="hidden" value="@ViewBag.IdApplication" id="IdApplication"/>

<!-- Breadcrumb -->
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard">HOME</a></li>
        <li class="breadcrumb-item active">APPLICATION INFORMATION</li>
    </ul>
</section>

<!-- Content -->
<section>
    <div class="card mb-3">
        <div class="card-header">
            <h4 class="text-center text-theme">標准方法變更通知書<br />(MSC)Thông báo thay đổi phương pháp làm việc tiêu chuẩn (MSC)</h4>
        </div>

        <div class="card-body">
            <!-- Information -->

            <hr class="mb-3">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label class="form-label">制作人 / Người đề nghị</label>
                        <input type="text" class="form-control text-truncate" id="Sign-UserCreated" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">制作部門 / Bộ phận</label>
                        <input type="text" class="form-control text-truncate" id="Sign-Department" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">日期 / Ngày</label>
                        <input type="text" class="form-control text-truncate" id="Sign-DateCreated" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">審核 / Phê duyệt</label>
                        <input type="text" class="form-control text-truncate bg-opacity-10" id="Sign-ApplicationStatus" readonly>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label class="form-label">PCN單號 / Mã số</label>
                        <input type="text" class="form-control text-truncate" id="Sign-CodePCN" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">主題 / Chủ đề</label>
                        <input type="text" class="form-control text-truncate" id="Sign-Subject" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">过程 / Process</label>
                        <input type="text" class="form-control text-truncate" id="Sign-Process" readonly>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">模型 / Model</label>
                        <input type="text" class="form-control text-truncate" id="Sign-Model" readonly>
                    </div>
                </div>
            </div>

            <!-- Details -->

            <hr class="mb-3">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label class="form-label">現行作業方式 / Phương thức làm việc hiện hành <span class="text-danger">*</span></label>
                        <div class="form-control overflow-auto" id="Sign-BeforeChange" style="height: 10rem;"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label class="form-label">變更后的方式 / Phương thức sau khi thay đổi <span class="text-danger">*</span></label>
                        <div class="form-control overflow-auto" id="Sign-AfterChange" style="height: 10rem;"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"> / Tài liệu phương thức làm việc hiện hành</label>
                        <a class="form-control text-truncate" id="Sign-BeforeChangeFile" target="_blank"></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="mb-3">
                        <label class="form-label"> / Tài liệu phương thức sau khi thay đổi</label>
                        <a class="form-control text-truncate" id="Sign-AfterChangeFile" target="_blank"></a>
                    </div>
                </div>
            </div>

            <!-- Reason -->

            <hr class="mb-3">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3 h-100">
                        <label class="form-label">變更原因 / Nguyên nhân thay đổi <span class="text-danger">*</span></label>
                        <div class="form-control overflow-auto" id="Sign-Reason" style="height: 10rem;"></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label class="form-label">制造成本計算 / Tính toán giá thành sản xuất (IE) <span class="text-danger">*</span></label>
                        <div class="form-control overflow-auto" id="Sign-CalcCost" style="height: 10rem;"></div>
                    </div>
                </div>
            </div>

            <!-- Sign -->

            <hr class="mb-3">

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="widget-reminder" id="Sign-Sign"></div>

                        <div class="card-arrow">
                            <div class="card-arrow-top-left"></div>
                            <div class="card-arrow-top-right"></div>
                            <div class="card-arrow-bottom-left"></div>
                            <div class="card-arrow-bottom-right"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label class="form-label">保存期限:二年 / Thời hạn bảo lưu</label>
                        <input type="text" class="form-control" value="5 năm (5 年)">
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">表單編號 / Mã bảng biểu</label>
                        <input type="text" class="form-control" value="FM3NVA002001A">
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer text-center" style="display: none" id="button-container">
            <button type="button" class="btn btn-danger me-3" onclick="Reject_ApplicationSave()"><i class="fa-duotone fa-x"></i> Reject</button>
            <button type="button" class="btn btn-success ms-3" onclick="Approve_ApplicationSave()"><i class="fa-duotone fa-check"></i> Approve</button>
        </div>

        <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
        </div>
    </div>
</section>

@section scripts{
    <!-- plugin -->
    <script src="~/Contents/template/HUD_Admin/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
    <!-- custom -->
    <script src="~/Contents/Custom/User/User_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/PCN/js/Application_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/Customer/Customer_Promise.js?v=@newGuid"></script>

    <script src="~/Contents/Custom/Sign/DirectSign.js?v=@newGuid"></script>
}