

<div class="modal fade" id="CustomerUpdateModal" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase">CREATE CUSTOMER</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="form-group mb-3">
                    <label class="form-label">Customer Name</label>
                    <input type="text" class="form-control text-truncate" id="CustomerUpdateModal-CustomerName" maxlength="50">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-default" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-theme" onclick="Customer_UpdateSave()"><i class="fa-duotone fa-floppy-disk"></i> Save Change</button>
            </div>
        </div>
    </div>
</div>
