.btn-outline-smartoffice {
    color: #b56e00;
    border-color: #b56e00;
}
.btn-smartoffice {
    background-color: #b56e00;
    border-color: #b56e00;
    position: relative;
}
.swal2-popup {
    background: rgb(0 0 0 / 50%) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    color: white !important;
}
.btn-group .btn-sm i {
    width: 12px;
}
table tbody tr:hover {
    background-color: rgba(48, 190, 255, 0.2) !important;
    
}
.dataTables_filter {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

    .dataTables_filter label {       
        padding-left: 0.5rem;
    }

        .dataTables_filter label input {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            width: 250px !important;
        }
.table.table-striped .even {
    background-color: rgb(255 255 255 / 10%);
}


.modal-xxl {
    --bs-modal-width: 95%;
}
.note-editor.note-frame {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.widget-reminder .widget-reminder-time {
    width: 160px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-editable[contenteditable="false"] {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
}
.note-statusbar.locked {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
}
.form-control:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
}
.form-label {
    color: var(--bs-theme);
}

.header-glass, .footer-glass, .app-sidebar {
    background: rgb(30 41 54 / 20%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.header-glass {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-glass {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.app-sidebar {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.load-container {
    inset: 0;
    display: flex;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(0 0 0 / 50%);
}
.load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
}

    .load hr {
        opacity: 1;
        border: 0;
        margin: 0;
        width: 40%;
        height: 40%;
        position: absolute;
        border-radius: 50%;
        animation: spin 2s ease infinite
    }

    .load :first-child {
        background: #19A68C;
        animation-delay: -1.5s
    }

    .load :nth-child(2) {
        background: #F63D3A;
        animation-delay: -1s
    }

    .load :nth-child(3) {
        background: #FDA543;
        animation-delay: -0.5s
    }

    .load :last-child {
        background: #193B48
    }

@keyframes spin {
    0%,100% {
        transform: translate(0)
    }

    25% {
        transform: translate(160%)
    }

    50% {
        transform: translate(160%, 160%)
    }

    75% {
        transform: translate(0, 160%)
    }
}