.btn-outline-smartoffice {
    color: #b56e00;
    border-color: #b56e00;
}
.btn-smartoffice {
    background-color: #b56e00;
    border-color: #b56e00;
    position: relative;
}
.swal2-popup {
    background: rgb(0 0 0 / 50%) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    color: white !important;
}
.btn-group .btn-sm i {
    width: 12px;
}
table tbody tr:hover {
    background-color: rgba(48, 190, 255, 0.2) !important;
    
}
.dataTables_filter {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

    .dataTables_filter label {       
        padding-left: 0.5rem;
    }

        .dataTables_filter label input {
            border: 0;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            width: 250px !important;
        }
.table.table-striped .even {
    background-color: rgb(255 255 255 / 10%);
}


.modal-xxl {
    --bs-modal-width: 95%;
}
.note-editor.note-frame {
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.widget-reminder .widget-reminder-time {
    width: 160px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-editable[contenteditable="false"] {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
}
.note-statusbar.locked {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3)) !important;
}
.form-control:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
}
.form-label {
    color: var(--bs-theme);
}