#main {
    padding-bottom: 40px;
}

#footer {
    background: white;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 12px;
    }

    .header {
        height: 30px;
    }

    .sidebar {
        top: 30px;
        width: 275px;
        padding: 10px;
    }

    .footer {
        font-size: 10px;
    }
}

.header-table-search {
    transition: all 0.5s;
    height: auto;
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    width: auto;
    z-index: 0;
}

.cursor-pointer {
    cursor: pointer !important;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
}

.card-body {
    padding: 10px !important;
    padding-top: 0px !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
}

.table thead {
    color: #012970;
}

.table td {
    white-space: nowrap;
}
.table tbody td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 550px;
}

.breadcrumb .active {
    color: #012970;
}

.btn-table-button {
    width: 31px;
}

.btn-modal-close {
    background: transparent;
    border: none;
    transition: color 0.2s;
}

    .btn-modal-close:hover {
        color: #dc3545;
    }

.form-label {
    font-weight: bold;
    color: #012970;
}

.logo span {
    font-size: 20px;
}

.table-hover > tbody > tr:hover > * {
    background-color: rgb(13 110 253 / 10%) !important;
}
.select2-container, .select2-selection {
    height: 38px !important;
}